/* takes content size, padding, and border into account when determing size of content */
* {
  box-sizing: border-box;
}

html {
  font-size: 1rem;
  font-family: "Roboto", sans-serif;
}

/* remove margins on typography to keep margins consistent */
h1,
h2,
h3,
p {
  margin: 0;
}

body {
  margin: 0;
  font-weight: 300;
  background-color: #fff;
  color: #404040;
  /* text-align: center; */
}

.navbar {
  overflow: hidden;
  background-color: #404040;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 30px;
  /* border: 1px solid red; */
}

.navbar ul {
  margin: 0;
  padding: 0 10px;
  list-style: none;
  font-weight: 700;
  border: 1px solid green;
}

.navbar li {
  color: #fff;
  border: 1px solid blue;
}

.navbar a {
  color: #fff;
  text-decoration: none;
}

#blog-posts-container {
  padding: 40px 10px 10px 10px;
}

#blog-posts-form {
  padding: 10px 10px 10px 10px;
}

#blog-post-creator {
  padding-top: 10px;
}

.btn {
  display: block;
  background-color: #404040;
  color: #fff;
  font-weight: 700;
  cursor: pointer;
}

.btn:hover,
.btn:focus {
  color: #404040;
  background-color: #fff;
}

input,
textarea,
.btn {
  width: 80%;
  padding: 0.25em;
  margin: 0.5em 0;
}
